@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Imperial+Script&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Global */
body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.subpage-title {
  font-size: 40px;
  font-weight: 700;
  color: #242226;
  margin-bottom: -10px;
}

.description-subpage {
  color: #747370;
  font-style: italic;
  font-size: 17px;
  font-weight: 100;
  padding-bottom: 50px;
}

/* Header */
header {
  background-image: url("/images/background-header.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
}
header nav {
  padding: 50px;
}
header nav .row {
  text-align: center;
}
header nav .row .name-landing-page {
  margin-top: 5px;
}
header nav .row .name-landing-page a {
  font-family: "Imperial Script", sans-serif;
  text-decoration: none;
  font-size: 30px;
  color: gold;
}
header nav .row .list-nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 70px;
}
header nav .row .list-nav ul li {
  flex: 20%;
}
header nav .row .list-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
header .splash {
  position: relative;
}
header .splash .splash-inner {
  text-align: center;
  position: absolute;
  top: 100px;
  left: 28%;
  color: #fff;
}
header .splash .splash-inner h2 {
  font-size: 45px;
  font-weight: 100;
  font-style: italic;
}
header .splash .splash-inner h1 {
  font-size: 72px;
  padding-bottom: 30px;
}
header .splash .splash-inner a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: #FED238;
  border-radius: 3px;
  padding: 25px 40px;
}

/* Section services */
.services {
  padding: 75px;
  text-align: center;
}
.services h3 {
  font-weight: 700px;
}
.services p {
  color: #747370;
  padding: 0 25px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSw2ZkFBQTtBQUVSLFdBQUE7QUFFQTtFQUNJLDhCQUFBO0VBQ0EsZUFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0FDREo7O0FESUE7RUFDSSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjQUFBO0VBQ0Esb0JBQUE7QUNESjs7QURJQTtFQUNJLGNBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtFQUNBLG9CQUFBO0FDREo7O0FESUEsV0FBQTtBQUNBO0VBQ0ksc0RBQUE7RUFDQSwyQkFBQTtFQUNBLDRCQUFBO0VBQ0Esc0JBQUE7RUFDQSxZQUFBO0FDREo7QURFSTtFQUNJLGFBQUE7QUNBUjtBRENRO0VBQ0ksa0JBQUE7QUNDWjtBREFZO0VBQ0ksZUFBQTtBQ0VoQjtBRERnQjtFQUNJLDBDQUFBO0VBQ0EscUJBQUE7RUFDQSxlQUFBO0VBQ0EsV0FBQTtBQ0dwQjtBRENnQjtFQUNJLHFCQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0FDQ3BCO0FEQW9CO0VBQ0ksU0FBQTtBQ0V4QjtBRER3QjtFQUNJLFdBQUE7RUFDQSxxQkFBQTtFQUNBLGVBQUE7QUNHNUI7QURLSTtFQUNJLGtCQUFBO0FDSFI7QURJUTtFQUNJLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLFdBQUE7QUNGWjtBREdZO0VBQ0ksZUFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7QUNEaEI7QURJWTtFQUNJLGVBQUE7RUFDQSxvQkFBQTtBQ0ZoQjtBREtZO0VBQ0kscUJBQUE7RUFDQSxXQUFBO0VBQ0EsZUFBQTtFQUNBLHlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtBQ0hoQjs7QURTQSxxQkFBQTtBQUVBO0VBQ0ksYUFBQTtFQUNBLGtCQUFBO0FDUEo7QURTSTtFQUNJLGtCQUFBO0FDUFI7QURVSTtFQUNJLGNBQUE7RUFDQSxlQUFBO0FDUlIiLCJmaWxlIjoic3R5bGUuY3NzIn0= */