@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Imperial+Script&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Global */
body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.subpage-title {
  font-size: 40px;
  font-weight: 700;
  color: #242226;
  margin-bottom: -10px;
}

.description-subpage {
  color: #747370;
  font-style: italic;
  font-size: 17px;
  font-weight: 100;
  padding-bottom: 50px;
}

/* Header */
header {
  background-image: url("/images/background-header.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
}
header nav {
  padding: 50px;
}
header nav .row .name-landing-page {
  margin-top: 5px;
}
header nav .row .name-landing-page a {
  font-family: "Imperial Script", sans-serif;
  text-decoration: none;
  font-size: 30px;
  color: gold;
}
header nav .row .list-nav ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 15px;
}
header nav .row .list-nav ul li {
  flex: 20%;
  padding-left: 30px;
}
header nav .row .list-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
header .splash {
  position: relative;
}
header .splash .splash-inner {
  text-align: center;
  position: absolute;
  top: 100px;
  left: 28%;
  color: #fff;
}
header .splash .splash-inner h2 {
  font-size: 45px;
  font-weight: 100;
  font-style: italic;
}
header .splash .splash-inner h1 {
  font-size: 72px;
  padding-bottom: 30px;
}
header .splash .splash-inner a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: #FED238;
  border-radius: 3px;
  padding: 25px 40px;
}

/* Section services */
.services {
  padding: 75px;
  text-align: center;
}
.services h3 {
  font-weight: 700px;
}
.services p {
  color: #747370;
  padding: 0 25px;
}

/* Section our portfolio */
.portfolio {
  text-align: center;
  padding: 75px;
  background-color: #F7F7F7;
}
.portfolio .box {
  margin-bottom: 50px;
  display: block;
}
.portfolio .box .box-image {
  width: 280px;
}
.portfolio .box .box-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .box .box-body {
  background-color: #fff;
  padding: 15px;
  margin-top: -5px;
  margin-left: -1px;
  width: 282px;
}
.portfolio .box .box-body h3 {
  font-weight: 700;
  margin-bottom: -10px;
  color: #313032;
}
.portfolio .box .box-body p {
  color: #747370;
  font-style: italic;
}

/* Footer */
footer {
  padding: 25px;
}
footer h6 {
  font-size: 13px;
  color: #747370;
}
footer ul {
  list-style-type: none;
  padding-top: 5px;
  display: inline-flex;
}
footer ul a {
  text-decoration: none;
  font-size: 0;
  padding: 0 5px;
  text-align: center;
}
footer ul a i {
  font-size: 20px;
  color: #fff;
  background-color: #242226;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 3px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSw2ZkFBQTtBQUVSLFdBQUE7QUFFQTtFQUNJLDhCQUFBO0VBQ0EsZUFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0FDREo7O0FESUE7RUFDSSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjQUFBO0VBQ0Esb0JBQUE7QUNESjs7QURJQTtFQUNJLGNBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtFQUNBLG9CQUFBO0FDREo7O0FESUEsV0FBQTtBQUNBO0VBQ0ksc0RBQUE7RUFDQSwyQkFBQTtFQUNBLDRCQUFBO0VBQ0Esc0JBQUE7RUFDQSxZQUFBO0FDREo7QURFSTtFQUNJLGFBQUE7QUNBUjtBREdZO0VBQ0ksZUFBQTtBQ0RoQjtBREVnQjtFQUNJLDBDQUFBO0VBQ0EscUJBQUE7RUFDQSxlQUFBO0VBQ0EsV0FBQTtBQ0FwQjtBRElnQjtFQUNJLGtCQUFBO0VBQ0EscUJBQUE7RUFDQSxhQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtFQUNBLGdCQUFBO0FDRnBCO0FESW9CO0VBQ0ksU0FBQTtFQUNBLGtCQUFBO0FDRnhCO0FER3dCO0VBQ0ksV0FBQTtFQUNBLHFCQUFBO0VBQ0EsZUFBQTtBQ0Q1QjtBRFNJO0VBQ0ksa0JBQUE7QUNQUjtBRFFRO0VBQ0ksa0JBQUE7RUFDQSxrQkFBQTtFQUNBLFVBQUE7RUFDQSxTQUFBO0VBQ0EsV0FBQTtBQ05aO0FET1k7RUFDSSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtBQ0xoQjtBRFFZO0VBQ0ksZUFBQTtFQUNBLG9CQUFBO0FDTmhCO0FEU1k7RUFDSSxxQkFBQTtFQUNBLFdBQUE7RUFDQSxlQUFBO0VBQ0EseUJBQUE7RUFDQSxrQkFBQTtFQUNBLGtCQUFBO0FDUGhCOztBRGFBLHFCQUFBO0FBRUE7RUFDSSxhQUFBO0VBQ0Esa0JBQUE7QUNYSjtBRGFJO0VBQ0ksa0JBQUE7QUNYUjtBRGNJO0VBQ0ksY0FBQTtFQUNBLGVBQUE7QUNaUjs7QURnQkEsMEJBQUE7QUFFQTtFQUNJLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLHlCQUFBO0FDZEo7QURnQkk7RUFDSSxtQkFBQTtFQUNBLGNBQUE7QUNkUjtBRGdCUTtFQUNJLFlBQUE7QUNkWjtBRGVZO0VBQ0ksV0FBQTtFQUNBLG9CQUFBO0tBQUEsaUJBQUE7QUNiaEI7QURpQlE7RUFDSSxzQkFBQTtFQUNBLGFBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0VBQ0EsWUFBQTtBQ2ZaO0FEaUJZO0VBQ0ksZ0JBQUE7RUFDQSxvQkFBQTtFQUNBLGNBQUE7QUNmaEI7QURrQlk7RUFDSSxjQUFBO0VBQ0Esa0JBQUE7QUNoQmhCOztBRHNCQSxXQUFBO0FBRUE7RUFDSSxhQUFBO0FDcEJKO0FEcUJJO0VBQ0ksZUFBQTtFQUNBLGNBQUE7QUNuQlI7QURzQkk7RUFDSSxxQkFBQTtFQUNBLGdCQUFBO0VBQ0Esb0JBQUE7QUNwQlI7QURxQlE7RUFDSSxxQkFBQTtFQUNBLFlBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7QUNuQlo7QURxQlk7RUFDSSxlQUFBO0VBQ0EsV0FBQTtFQUNBLHlCQUFBO0VBQ0EsWUFBQTtFQUNBLFdBQUE7RUFDQSxrQkFBQTtFQUNBLGlCQUFBO0VBQ0EsaUJBQUE7QUNuQmhCIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */