@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Imperial+Script&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Global */

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.subpage-title {
    font-size: 40px;
    font-weight: 700;
    color: #242226;
    margin-bottom: -10px;
}

.description-subpage {
    color: #747370;
    font-style: italic;
    font-size: 17px;
    font-weight: 100;
    padding-bottom: 50px;
}

/* Header */
header {
    background-image: url("/images/background-header.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    nav {
        padding: 50px;
        .row {
            
            .name-landing-page {
                margin-top: 5px;
                a {
                    font-family: 'Imperial Script', sans-serif;
                    text-decoration: none;
                    font-size: 30px;
                    color: gold;
                }
            }
            .list-nav {
                ul {
                    text-align: center;
                    list-style-type: none;
                    display: inline-flex;
                    margin-top: 15px;
                    
                    li {
                        padding-left: 30px;
                        a {
                            color: #fff;
                            text-decoration: none;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .splash {
        position: relative;
        .splash-inner {
            text-align: center;
            position: absolute;
            top: 100px;
            left: 28%;
            color: #fff;
            h2 {
                font-size: 45px;
                font-weight: 100;
                font-style: italic;
            }

            h1 {
                font-size: 72px;
                padding-bottom: 30px;
            }

            a {
                text-decoration: none;
                color: #fff;
                font-size: 20px;
                background-color: #FED238;
                border-radius: 3px;
                padding: 25px 40px;
            }
        }
    }
}

/* Section services */

.services {
    padding: 75px;
    text-align: center;
    
    h3 {
        font-weight: 700px;
    }

    p {
        color: #747370;
        padding: 0 25px;
    }
}

/* Section our portfolio */

.portfolio {
    text-align: center;
    padding: 75px;
    background-color: #F7F7F7;
    
    .box {
        margin-bottom: 50px;
        display: block;
        
        .box-image {
            width: 280px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .box-body {
            background-color: #fff;
            padding: 15px;
            margin-top: -5px;
            margin-left: -1px;
            width: 282px;
            
            h3 {
                font-weight: 700;
                margin-bottom: -10px;
                color: #313032;
            }

            p {
                color: #747370;
                font-style: italic;
            }
        }
    }
}

/* Footer */

footer {
    padding: 25px;
    h6 {
        font-size: 13px;
        color: #747370;
    }
    
    ul {
        list-style-type: none;
        padding-top: 5px;
        display: inline-flex;
        a {
            text-decoration: none;
            font-size: 0;
            padding: 0 5px;
            text-align: center;

            i {
                font-size: 20px;
                color: #fff;
                background-color: #242226;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                padding-top: 10px;
                padding-left: 3px;
            }
        }
    }
}

/* Media */

@media (min-width: 768px) and (max-width: 991px) {
    header {
        nav {
            .row {
                .name-landing-page {
                    text-align: center;
                    a {
                        font-size: 40px;
                    }
                }
                .list-nav {
                    ul {
                        li {
                            a {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }

        .splash {
            .splash-inner {
                top: 100px;
                left: 5%;

                h2 {
                    font-size: 35px;
                }

                h1 {
                    font-size: 60px;
                }

                a {
                    font-size: 17px;
                    }
            }
        }
    }

    .portfolio {
        .box {
            display: flex;
            flex-direction: column;
            justify-self: center;
        }
    }
}

@media (max-width: 767px) {
    header {
        nav {
            .row {
                .name-landing-page {
                    text-align: center;
                    a {
                        font-size: 30px;
                    }
                }
                .list-nav {
                    ul {
                        text-align: left;
                        margin-left: -100px;
                        li {
                            a {
                                margin-left: 1px;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }

        .splash {
            .splash-inner {
                top: 60px;
                left: 0;

                h2 {
                    font-size: 25px;
                }

                h1 {
                    font-size: 50px;
                }

                a {
                    font-size: 15px;
                    padding: 20px 30px;
                    }
            }
        }
    }

    .portfolio {
        .box {
            display: flex;
            flex-direction: column;
            justify-self: center;
        }
    }

    footer {
        text-align: center;
        ul {
            margin-left: -40px;
        }
    }
}