@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Imperial+Script&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Global */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-image: url("/images/background-header.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    nav {
        padding: 50px;
        .row {
            text-align: center;
            .name-landing-page {
                margin-top: 5px;
                a {
                    font-family: 'Imperial Script', sans-serif;
                    text-decoration: none;
                    font-size: 30px;
                    color: gold;
                }
            }
            .list-nav {
                ul {
                    list-style-type: none;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    margin-top: 15px;
                    li {
                        flex: 20%;
                        a {
                            color: #fff;
                            text-decoration: none;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .splash {
        position: relative;
        .splash-inner {
            text-align: center;
            position: absolute;
            top: 100px;
            left: 25%;
            color: #fff;
            h2 {
                font-size: 45px;
                font-weight: 100;
                font-style: italic;
            }

            h1 {
                font-size: 72px;
                padding-bottom: 30px;
            }

            a {
                text-decoration: none;
                color: #fff;
                font-size: 20px;
                background-color: #FED238;
                border-radius: 3px;
                padding: 25px 40px;
            }
        }
    }
}

